apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: applicationsets.argoproj.io
spec:
  group: argoproj.io
  names:
    kind: ApplicationSet
    listKind: ApplicationSetList
    plural: applicationsets
    singular: applicationset
  scope: Namespaced
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            apiVersion:
              type: string
            kind:
              type: string
            metadata:
              type: object
            spec:
              type: object
              properties:
                generators:
                  type: array
                  items:
                    type: object
                    properties:
                      list:
                        type: object
                      git:
                        type: object
                      matrix:
                        type: object
                      clusters:
                        type: object
                      merge:
                        type: object
                template:
                  type: object
                  properties:
                    metadata:
                      type: object
                      properties:
                        name:
                          type: string
                        namespace:
                          type: string
                        labels:
                          type: object
                        annotations:
                          type: object
                    spec:
                      type: object
                      properties:
                        project:
                          type: string
                        source:
                          type: object
                          properties:
                            repoURL:
                              type: string
                            targetRevision:
                              type: string
                            path:
                              type: string
                        destination:
                          type: object
                          properties:
                            server:
                              type: string
                            namespace:
                              type: string
                        syncPolicy:
                          type: object
                          properties:
                            automated:
                              type: object
                            retry:
                              type: object
                            syncOptions:
                              type: array
                              items:
                                type: string

